# This is the Ansible configuration file.
# Environment variables can be used to override settings in this file.
[defaults]
# Default inventory path (so you don't have to specify -i on every command)
# Ruta por defecto al inventario (así no hace falta escribir -i en cada comando)
inventory = inventories/aws_ec2.yml

# Desactivate the host key checking (Fingerprint verification).
# Desactiva la verificación de la huella SSH (Fingerprint). 
# Necesario en entornos dinámicos donde las instancias se crean y destruyen automáticamente.
host_key_checking = False
deprecation_warnings = False

# SSH user default for Ubuntu AMI
# Usuario SSH por defecto en Ubuntu AMI
remote_user = ubuntu

# Wait for the SSH connection to be established before running tasks (in seconds)
# Tiempo de espera para conexiones SSH (en segundos)
timeout = 30

[inventory]
# Enable the AWS EC2 plugin for dynamic inventory explicitly
# Habilita explícitamente el plugin de AWS EC2 para inventarios dinámicos
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini

# Add SSH connection settings to avoid micro-restarts of the network interface in Ubuntu cutting off the Ansible connection.
# Añadimos la sección [ssh_connection] con reintentos para evitar que micro-reinicios de la interfaz de red en Ubuntu corten la conexión de Ansible.
retries = 3
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null