[defaults]
# Ruta por defecto al inventario (así no hace falta escribir -i en cada comando)
inventory = inventories/aws_ec2.yml

# Desactiva la verificación de la huella SSH (Fingerprint). 
# Necesario en entornos dinámicos donde las instancias se crean y destruyen automáticamente.
host_key_checking = False

# Usuario SSH por defecto en Ubuntu AMI
remote_user = ubuntu

# Tiempo de espera para conexiones SSH (en segundos)
timeout = 30

[inventory]
# Habilita explícitamente el plugin de AWS EC2 para inventarios dinámicos
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini

# Añadimos la sección [ssh_connection] con reintentos para evitar que micro-reinicios de la interfaz de red en Ubuntu corten la conexión de Ansible.
retries = 3
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no